includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: trait.unused
        - '#Attribute class JetBrains#'
        -
            message: '#expects view-string\|null, string given#'
            path: src/Menu
        -
            message: '#expects view-string\|null, string given#'
            path: src/Breadcrumbs
        -
            message: '#Call to method configure\(\) on an unknown class Laravel\\Lumen\\Application#'
            path: src/Providers
        -
            message: '#Call to an undefined method Illuminate\\Contracts\\Queue\\ShouldQueue::delay\(\)#'
            path: src/helpers.php
